.setupform{
margin-bottom:20px;
text-align:10px;
margin-left:auto;
font-size:20px;
margin-top:80px;
}

.formheading
{
  margin-bottom: 30px;
  margin-left: 134px;
}

.modal-backdrop.show {
    opacity: 0;
}

.hotel-review__total{
  max-width: 310px;
  font-size:14px;
}

.hotel-review__progress{
      width: 60%;
}

ul li:hover {
  background-color: #f1f1f1;
  border-bottom:1px solid #f1f1f1;
  cursor:pointer;
}
main.page-main {
    margin-bottom: 0px!important;
}
.page-footer.sticky {
    position: relative!important;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.country-select {
    border: #ddd;
    margin-top: 13px;
}
.nice-select {
    height: 38px;
    line-height: 38px;
   }
.drop-down { 
 position: relative;  
 display: inline-block;    
 width: auto;       
 margin-top: 0;   
 font-family: verdana;    
 }      
 .drop-down select {   
 display: none;    
 }      
 .drop-down .select-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    margin-top: 0;
    padding: 0;
    background-color: #f2f1f1;
}     
 .drop-down .select-list li {   
 display: none;      
 }    
 .drop-down .select-list li span {  
 display: inline-block;      
 min-height: 40px;        
 min-width: 280px;      
 width: 100%;        
 padding: 5px 15px 5px 35px;     
 background-color: #595959;     
 background-position: left 10px center;   
 background-repeat: no-repeat;       
 font-size: 16px;       
 text-align: left;       
 color: #FFF;        
 opacity: 0.7;      
 box-sizing: border-box;     
 }     
 .drop-down .select-list li span:hover,  
 .drop-down .select-list li span:focus {     
 opacity: 1;     
 } 
.button {
    background: #fff;
    padding: 10px;
    margin-top: 12px;
    border: #ddd 1px solid;
    border-radius: 4px;
    width: 109px;
}
.button span {
    background-repeat: no-repeat;
    background-position: left;
}
a.select-list-link {
    position: absolute;
    right: 8px;
}